.Container {
    margin: 20px !important;
    padding: 40px 20px 20px !important;
    border: #ccc solid 1px;
    max-width: 100%;
    position: relative !important;
    box-shadow: 2px 4px 12px rgba(0,0,0,0);

    //&:hover {
    //    box-shadow: 2px 4px 12px rgba(0,0,0,.25);
    //    border-color: desaturate($primary-color, 50%);
    //}

    > code {
        position: absolute;
        top: 0;
        left: 0;
        @include font-size(12px);
        background: #f1f1f1;
        border: #ccc solid 1px;
        border-top: none;
        border-left: none;
        padding: 6px 8px 4px;
        margin: 0 0 20px;
        flex-grow: 0;
        flex-shrink: 1;
        display: inline-flex;
    }
}

body.Container {
    margin: 0 !important;
    border: none !important;
}