.Navigation {

    &__con {
        display: flex;
        flex-direction: row;
        width: 100%;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            background: rgba($primary-color, 0.08);
            margin-left: 8px;
            height: 48px;
            border: rgba(desaturate($primary-color, 50%), 0.5) solid 1px;
            text-decoration: none;
            color: $primary-color;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                background: #fff;
            }
            
            &.active {
                background: $primary-color;
                color: #fff;
            }
        }
    }
}