#nprogress {
    pointer-events: none;

    .bar {
        background: $pbar__bar-color;

        position: fixed;
        z-index: 1031;
        top: 0;
        left: 0;

        width: 100%;
        height: 6px;
    }

    /* Fancy blur effect */
    .peg {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px $pbar__blur-color, 0 0 5px $pbar__blur-color;
        opacity: 1.0;

        transform: rotate(3deg) translate(0px, -4px);
    }

    /* Remove these to get rid of the spinner */
    .spinner {
        display: block;
        position: fixed;
        z-index: 1031;
        top: 15px;
        right: 15px;
    }

    .spinner-icon {
        width: 18px;
        height: 18px;
        box-sizing: border-box;

        border: solid 2px transparent;
        border-top-color: $pbar__spin-color;
        border-left-color: $pbar__spin-color;
        border-radius: 50%;

        animation: nprogress-spinner 400ms linear infinite;
    }
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@include keyframes(nprogress-spinner) {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}