.wrap {
    max-width: $body__width--desktop;
    margin: 0 auto;
    @extend %clearfix;
}
.al {text-align: left;}
.ac {text-align: center;}
.ar {text-align: right;}
.fl {float: left;}
.fr {float: right;}
.hidden {display:none !important;visibility:hidden;} /* Hide from both screenreaders and browsers */
.invisible {visibility:hidden;} /* Hide visually and from screenreaders, but maintain layout */
.noscroll {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
}
